<p id="notice"><%= notice %></p>

<p>
  <strong>Airborneflightdelays:</strong>
  <%= @airborneflightdelay.airborneFlightDelays %>
</p>

<%= link_to 'Edit', edit_airborneflightdelay_path(@airborneflightdelay) %> |
<%= link_to 'Back', airborneflightdelays_path %>
