<h1>Flight Feedback/Debrief - Flight #<%= Flight.find(@debrief.flight_id).flightNumber %></h1>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<%= render 'form', debrief: @debrief %>
