<p id="notice"><%= notice %></p>

<p>
  <strong>Turbulencetype:</strong>
  <%= @flight_turbulence.turbulenceType %>
</p>

<%= link_to 'Edit', edit_flight_turbulence_path(@flight_turbulence) %> |
<%= link_to 'Back', flight_turbulences_path %>
