<h1>Editing Flight <%= @flight.flightNumber %></h1>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<% @editTest = true %>

<%= render 'form', flight: @flight %>

