<div class="show-for-small-only">
  <div class="mobile-app-icon-bar footer">
    <div class="grid-x grid-padding-x">
      <div class="cell small-4 text-center">
        
      </div>
      <div class="cell small-4 text-center">
        <%= link_to new_flight_path, :id => "add_flight_link", remote: true do %>
        <button><i class="fa fa-plus" aria-hidden="true"></i><br><span>Add Flight</span></button>
        <% end %>
      </div>
      <div class="cell small-4 text-center">
        <button><i class="fa fa-search" aria-hidden="true"></i><br><span>Search</span></button>
      </div>
    </div>    
  </div>
</div>