<h1>Editing Airborneflightcheckin</h1>

<%= render 'form', airborneflightcheckin: @airborneflightcheckin %>

<%= link_to 'Show', @airborneflightcheckin %> |
<%= link_to 'Back', airborneflightcheckins_path %>
