<p id="notice"><%= notice %></p>

<p>
  <strong>Airborneflightcheckins:</strong>
  <%= @airborneflightcheckin.airborneflightcheckins %>
</p>

<%= link_to 'Edit', edit_airborneflightcheckin_path(@airborneflightcheckin) %> |
<%= link_to 'Back', airborneflightcheckins_path %>
