<h1><%= @user.fullName %></h1>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<%= render 'form', user: @user %>


