<p id="notice"><%= notice %></p>

<p>
  <strong>Arrivaltypes:</strong>
  <%= @arrivaltype.arrivalTypes %>
</p>

<%= link_to 'Edit', edit_arrivaltype_path(@arrivaltype) %> |
<%= link_to 'Back', arrivaltypes_path %>
