<% if current_page.last? %>
	<li class="disabled">
<% else %>
	<li>
<% end %>
	  <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
	</li>