<% if current_page.last? %>
	<li class="disabled">
<% else %>
	<li>
<% end %>
	  <% url.slice! "/debriefs" %>
	  <% if url[0] == "/" %>
	  	<% url = url[1..-1] %>
	  	<% while url.start_with?(*('0'..'9')) do %>
	  		<% url = url[1..-1] %>
	  	<% end %>
	  <% end %>
	  <% url = "/debriefs" + url %>
 
	  <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>

	</li>