/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */


.comments {
   	margin-left: 10px;
}

.comments_container {
	height: 22px;
	width: 34px;
	background-image: image-url('comments36.png');
	background-repeat: no-repeat;
	background-size: auto;
	text-align: center;
	font-size: 75%;
	color:gray;
	display: inline-block;
	line-height: 90%;
	vertical-align: 30%;
}

.current {
	
	background: fff;
	color: red;
}

.nested_comments {
   	margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
   	margin-left: 0;
}
