<p id="notice"><%= notice %></p>

<p>
  <strong>Departuretypes:</strong>
  <%= @departuretype.departureTypes %>
</p>

<%= link_to 'Edit', edit_departuretype_path(@departuretype) %> |
<%= link_to 'Back', departuretypes_path %>
